#heading
{
    color: green;
}
/*my practice is very beautifully gone*/
#mann
{
    color: skyblue;
}
.mother
{
    color: blueviolet;
}
div
{
    color: brown;
}
#first, #second
{
    color: color burlywood;
}