body{background-color: black;color: white;}
#first{font-family:"Dancing Script", "cursive";
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;}
#second{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
#third{font-family: monospace;}