h1
{
    color: red;font-size: large;font-family: monospace;
}
div
{
    height: 600px;width: 1360px;
}

#papa
{
    text-align: center;background-color: skyblue;
}
#mummy
{
    text-align: left;background-color: hotpink;
}
#mann
{
    text-align: right;background-color: yellow;
}
#manvi
{
    text-align: justify;background-color: green;
}