*{padding: 0px; margin: 0px;}
#first{padding:0px   ;margin: 0px;background-color: skyblue;}
#second{padding:0px;margin: 0px;background-color:hotpink;}
#third{padding: 0px;margin: 0px;height: 500px;width: 500px; background-color: lightgreen;}