*
{
    margin: 0px;
    padding: 0px;
    background-color: aqua;
}
header
{
    background-color: black;
    color: white;
    text-align: center;
}
#container
{
    background-color: hotpink;
    margin: 5px;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
}
.box
{
    height: 250px;
    width: 250px;
    border: 5px solid black;
    margin: 30px;
    transition: all .5s steps(5) 0s;
}
#box1
{
    background-color:yellow ;}
#box1:hover
{
    background-color:lightcoral ;
    transform: translate(50px);

}
#box2
{
    background-color:green ;
}
#box2:hover
{
    background-color:lightpink ;
    transform: translate(50px,50px);

}
#box3
{
    background-color:blue ;
}
#box3:hover
{
    background-color:chocolate ;
    transform: translatex(100px);

}
#box4
{
    background-color: red;
}
#box4:hover
{
    background-color: skyblue;
    transform: translatey(50px);

}