body{background-color: skyblue;color: black;margin: 0px;padding: 0px;}
#first{background-color: white; margin: 10px;height: 500px;width: 500px;font-size: 10px;}
#second{background-color: hotpink;margin: 20px;height:50%; width: 50%;font-size: 2em;}