body {background-color: black;color: white;}
#first { font-weight: 100;font-size: 30px;}
#second {font-weight: 900;font-size: 60px;}
#third {font-weight: 900;font-size: 60px;}
#fourth {font-weight: 700;font-size: 50px;}