body{background-color: skyblue;color: black;margin: 50px;padding: 0px;}
#block1
{
    background-color: hotpink;color: blue;margin: 10px;display: none;
}
#block2
{
    background-color: hotpink;color: blue;margin: 10px;display: none;
}

#block3
{
    background-color: hotpink;color: blue;margin: 10px;display: none;
}

#inline
{
    background-color: orangered;color: black;border: 5px solid;display: none;
}