* {
  margin: 0px;
  padding: 0px;
  background-color: cyan;
}
header {
  color: white;
  background-color: black;
  text-align: center;
}
#container {
  background-color: white;
  border: 5px solid black;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
@keyframes ghumakkad {
  /* from {
    left: 50px;
  }
  to {
    left: 1000px;
  } */
   0%
   {
    left:0px; top:100px;
   }
   25%{
    left:100px; top:0px;
   }
   50%{
    left:200px; top:100px;
   }
   75%{
    left:300px; top:00px;
   }
   100%
   {
    left: 400px; top: 100px;
   }
}
.box {
  margin: 30px;
  height: 250px;
  width: 250px;
  border: 5px solid black;
  background-color: pink;
  position: relative;
  top: 10px;
  left: 10px;
  /* animation-name: ghumakkad ;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse; */
}
#box1
{
    animation-name: ghumakkad ;
  animation-duration: .1s;
  animation-timing-function: 2s ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
